#books {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#books td,
#books th {
    border: 1px solid #ddd;
    padding: 8px;
    animation: 4s linear 0s infinite alternate move-right;
}

.fromLeftToRightClass {
    opacity: 1;
    animation-name: fromLeftToRight;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fromLeftToRight {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 110px;
    }
}

#books tr:nth-child(even) {
    background-color: #f2f2f2;
}

#books tr:hover {
    background-color: #ddd;
}

#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}



@keyframes move-eye {
    from {
        width: 40%;
    }

    to {
        width: 100%;
    }
}